@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
h1, h2, h3 {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
}
h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
}
a {
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 15px;
}
p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
}
ul li {
            list-style: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
}
nav {
            padding: 10px 0px;
            border-bottom: 1px solid #000;
            text-align: center;
}
footer {
            margin-top: 489px;
            padding: 10px 0px;
            border-top: 1px solid #000;
            text-align: center;
}