header {
            nav {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
            }
            .logo {
                        max-width: 100px;
            }
            .nav-menu {
                        ul {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 50px;
                                    justify-content: center;
                                    align-items: center;
                        }
            }
}